* {
  font-family: arial;
  margin: 0rem;
  padding: 0rem;
}

body {
  background: #f7f7f7;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  position: relative;
  display: grid;
  justify-items: center;
}

.titulo2 {
  font-size: 2rem;
}

.titulo {
  display: grid;
  place-items: center;
  margin-top: 1.875rem;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 5rem;
  list-style: none;
  height: 5rem;
  max-width: 100%;
}

.t1 {
  background: white;
  color: black;
  border: 0.0625rem solid white;
  border-radius: 0.25rem;
  padding: 1.25rem;
  text-align: center;
  width: 6.25rem;
  display: inline-block;
}

.t1:hover {
  border: 0.0625rem solid red;
}

.anuncio {
  display: grid;
  margin: 4.375rem;
  grid-template-columns: repeat(2, 450px);
  grid-template-rows: auto auto;
  margin-left: 18.125rem;
  margin-right: 18.125rem;
  justify-content: center;
  align-self: center;
  margin: 00 auto;
}

.divdesc {
  display: grid;
  align-items: center;
  justify-items: right;
  padding: 1.25rem;
  background: white;
}

.descricao {
  font-size: 1.25rem;
  text-align: right;
  margin-left: 1.25rem;
}

.vermais {
  color: white;
  background: #ee2211;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.375rem;
}

.vermais:hover {
  background: rgb(121, 0, 0);
}

.foto {
  max-width: 100%;
}

.vant {
  display: grid;
  place-items: center;
}

.vantagens {
  text-align: right;
  font-size: 4rem;
  padding: 1.25rem;
  color: #c6c6c6;
  background-image: url(./img/onda.svg);
}

.vantagens1 {
  background: white;
  padding: 1.5625rem 0rem;
}

.item {
  display: grid;
  grid-template-columns: 1.875rem 1fr;
  align-items: center;
  margin: 0rem 2.5rem;
  padding: 1.875rem;
  position: relative;
  border-radius: 0.3125rem;
}

.item:hover::before {
  content: "";
  width: 0.25rem;
  background: red;
  height: 100%;
  position: absolute;
  border-radius: 0.25rem;
}

.desc2 {
  grid-column: 2;
}

.vantagens1 li:nth-child(odd):not(.desc2 li) {
  background: #f7f7f7;
}

footer {
  background: white;
  height: 5.625rem;
  display: grid;
  place-items: center;
}

p {
  font-size: 1.25rem;
}

@media (max-width: 59.375rem) {
  .anuncio {
    grid-template-columns: 31.25rem;
    margin-top: 0.625rem;
    grid-template-rows: repeat(4, 28.125rem);
    margin-bottom: 5rem;
  }

  .t1 {
    display: block;
  }

  .flex {
    display: grid;
    grid-template-columns: repeat(2, 9.375rem);
    align-items: center;
    justify-items: center;
    margin-top: 1.25rem;
    height: auto;
    margin-bottom: 0rem;
  }
  .anuncio img {
    object-fit: cover;
  }
  .divdesc {
    padding: 0.625rem auto;
  }
  .divdesc p,
  h1 {
    font-size: 150%;
  }
  .titulo {
    margin-top: 1.25rem;
  }
}
